
  <style>

  #container {
    max-width: 10000px;
    width: 100%;
    text-align: center;
    font-family: terminus;

  }
  #container h1 {
    text-align: center;
    color: white;
  }
    #supportModule {
      display: inline-block;
      vertical-align: top;
      position: relative;
      font-family: terminus;
      margin: 10px;
      margin-top: 0;
      margin-bottom: 18px;
      width: 265px;
    }
    #supportModule h2 {
      text-align: center;
      background-color: #00c631;
      width: 100%;
      font-size: 28px;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0;
      left: 0;
    }
    #supportModule p {
      margin-top: -5px;
      background-color: #00c631;
      color: white;
      padding-bottom: 8px;
    }
    #donate {
      background-color: #00c631;
      color: white;
      border: 0;
      font-size: 12pt;
    }

  </style>

  <div ng-app="" ng-model="tid" ng-init="
  donators=[
  {name:'Onvityra', date:'May 19, 2017'}
  ];">
  <div id="container" ng-app="donors">
    <h1>Supporters</h1><br><br>
    <div id="supportModule" ng-repeat="donors in donators">
        <h2>{{ donors.name }}</h2>
        <p>{{ donors.date }}</p>
    </div>
    <br>
    <button id="donate">Support Me</button>
  </div>
  </div>
