@font-face {
    font-family: hacks;
    src: url("../static/Hacker.otf");
}

@font-face {
    font-family: terminus;
    src: url("../static/terminus.ttf");
}



footer{background-color:#4f4f4f;
  padding:25px}
#header{
  color:white;
}
#header-txt {
  font-family: hacks;

  text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#header a{color:white;   font-family: hacks;}
a {color: #00b72d}
a:hover {color: #00d835; text-decoration: none}

.roow {
  text-align:center;
  align-items:baseline;
  top:0;
  color:white;
  display:flex;
  background-color: #3d3d3d;
  font-family: terminus;

}

.roow p {
  font-size: 18px;
}

.roow:nth-of-type(odd) {
  background-color: #303030;
}

  .jumbotron{margin-bottom:0}
  .col-sm-3{padding-top:10px;float:left;padding-bottom:10px;flex:1;width:250px}
  .col-sm-3 img{border:2px solid rgb(0,128,28)}

.green {
  background-color: #00b72d;
  border: 2px solid #00aa2a;
  color: black;
}


  @media screen and (max-width:480px){.col-sm-3{width:100%}}
