* {
  user-select: none;
-moz-user-select: none;
}

div#footer a {
    margin: 4px 8px;
}

#game-container {
  width: 98.5%;
  max-width: 100000px;
  padding: 5px;
  background-color: rgb(191, 188, 205);
  border: 5px solid black;
  padding: 1px;
  overflow: hidden;
  height: 99%;
}

#player-container {
  position: absolute;
  left: 50%;
  background-color: red;
  width: 125px;
  height: 11.25%;

}
.player {
  z-index: 5;

}

.laser-shooter {
  position: relative;
  z-index: 0;
  width: 250px;
  background-color: rgb(198, 136, 0);
  left: -1px;
  top: -4%;
  margin-top: 18%;
  margin-bottom: 23%;
  height: 100px;
  overflow: none;
}

#laserbeam {
  display: none;
  position: absolute;
  z-index: 5;
  width: 100vw;
  background-color: #E90022;
  height: 25%;
  top: 35px;

}

#prelaserbeam {
  position: absolute;
  z-index: 0;

  width: 100vw;
  background-color: #fcc920;
  height: 25%;
  top: 35px;
  display: none;
}

.laser {
  display: none;
}


#footer {
  display: none;

}

#footer a {
  color: white;
}

.overlay {
  font-size: 28px;
  background-color: white;
  width: 75%;
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 30%;
  left: 14%;
  border-radius: 15px;
  border: 2px solid black;
}

.overlay-btn {
  margin-bottom: 15px;
  font-size: 28px;

}

.end {
  display: none;
  background-color: rgb(213, 51, 51);
  color: white;
  font-size: 28px;

}

.scorekeeper {
  position: absolute;
  top: -2px;
  right: 28px;
  background-color: rgb(215, 215, 215);
  width: 250px;
  font-size: 24px;
  padding: 5px;
  padding-right: 25px;
  border: 2px solid black;
  font-size: 28px;

}

.overlay-btn {
  font-size: 38px;

  border-radius: 8px;
  border: 2px solid black;

}
#start-btn {
  background-color: rgb(18, 236, 53);
}

#end-btn {
  background-color: rgb(214, 65, 65);
}

#tweet-btn {
  background-color: #169DE7;
}

#patreon-btn {
  background-color: #ffbf00;
}
