* {
  font-family: Avenir;
  padding: 0;
  margin: 0;
}
#header {
  background-color: #F0F0F0;
  height: auto;
}
#header #title {
  font-size: 4em;
  display: inline-block;
  padding: 20px 60px 20px 60px;
  color: #969696;
  text-align: center;
}

#header .rightnav {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
  font-size: 1em;
}


#ask {
  display: inline-block;
  width: 80%;
  background-color: #FDFDFD;
  border: 5px solid #C7C7C7;
  border-radius: 10px 0px 0px 10px;
  margin-top: 20px;
  margin-left: 20px;
  height:300px;
}

#ask .title {
  background-color: white;
  border: 3px solid #95989A;
  height: 55px;
  width: 97.5%;
  margin: 10px;
  color: #95989A;

}
#ask input[name="title"] {
  font-size: 37px;
  width: 100%;
  padding-left: 5px;
}

#ask .question {
  background-color: white;
  border: 3px solid #95989A;
  height: 55px;
  width: 97.5%;
  height: 90;
  margin: 10px;
  color: #95989A;
  resize: none;

}
#ask textarea[name="question"] {
  font-size: 25px;
  width: 100%;
  height: 100%;
  padding: 10px;
  resize: none;

}

#ask h2 {
  padding: 10px 10px 10px 10px;
}

#ask input[type=submit] {
  font-size: 24px;
  background-color: transparent;
  border: 0;
  float: right;
  margin-right: 10px;
}

#ask select {
  background-color: #FFFFFF;
  border: 1px solid #95989A;
  font-size: 24px;
  margin-left: 10px;
}

#ask .asktitle {
  font-size: 28px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}




#ad {
  position: absolute;
  right: 0px;
  top: 137px;
  margin: 10px;
  background-color: green;
  width: 225px;
  height: 300px;
}


#post {
  display: inline-block;
  width: 80%;
  background-color: #FDFDFD;
  border: 5px solid #C7C7C7;
  border-radius: 10px 0px 0px 10px;
  margin-top: 20px;
  margin-left: 20px;
  height:50px;
}

#post .quest {
  position: relative;
  float: left;
  font-size: 28px;
  text-align: center;
  padding: 5px;
}

#post .cat {
  float: right;
  padding: 12px;
}

#post .user {
  float: right;
  padding: 12px;

}

a {
  color: inherit;
  text-decoration: none;
}

